@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root {
    --font-color-secondary: #646f7a;
    --font-color-link-active: #444c51;
    --font-size--16px: clamp(0.5rem, 0.1rem + 1.6vw, 1rem);;
    --size--132px: clamp(3.125rem, -0.975rem + 16.4vw, 8.25rem);
}

html {
    font-family: "Funnel Display", serif;
    font-style: normal;
}

body {
    background: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
}

li {
    font-size: var(--font-size--16px);
    list-style: none;
}

ul {
    padding: 0;
}

h1 {
    font-size: clamp(1rem, 0.2rem + 3.2vw, 2rem);
    margin: 0;
}

h2 {
    font-size: clamp(0.75rem, 0.15rem + 2.4vw, 1.5rem);
    margin: 20px 0 0 0;
    font-weight: 100;
}

h3 {
    font-size: clamp(0.585rem, 0.117rem + 1.872vw, 1.17rem);
    margin: 0;
}

h4 {
    font-size: var(--font-size--16px);
    text-transform: uppercase;
    font-weight: 100;
    margin: 0 0 10px;
}

h5 {
    font-size: clamp(0.415rem, 0.083rem + 1.328vw, 0.83rem);
    color: var(--font-color-secondary);
    font-weight: 100;
    margin: 10px 0 10px;
}

p {
    font-size: var(--font-size--16px);
    margin: 0;
}

a {
    font-size: var(--font-size--16px);
}

a:link {
    color: var(--font-color-secondary);
}

a:visited {
    color: var(--font-color-secondary);
}

a:active {
    color: var(--font-color-link-active);
}

.download-pdf-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #738089;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.download-pdf-button:hover {
    background-color: #444c51;
}

@media print {
    .download-pdf-button {
        display: none;
    !important;
    }

    body {
        background: white;
        margin: 0.1in;
        padding: 0;
    }

    .CV-page {
        box-shadow: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
}


.CV-page {
    background: white;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    padding: 65px;
    box-shadow: rgba(7, 7, 6, 5.3) 0 0 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.name {
    height: var(--size--132px);
}

.avatar {
    width: var(--size--132px);
    height: var(--size--132px);
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 2px 2px 20px -10px #000000;
}

.personalPhoto {
    width: var(--size--132px);
    height: var(--size--132px);
}

.info-columns {
    gap: 70px;
    display: flex;
}

.history-colum {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.history-colum ul {
    display: grid;
    gap: 25px;
}

.experience {
    margin-bottom: 25px;
}

.info-colum {
    color: var(--font-color-secondary);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-block {
    width: clamp(8.125rem, -0.375rem + 34vw, 18.75rem);
}

.info-block ul {
    display: grid;
    gap: 5px;
    margin-top: 5px;
}

.info-block .contact__list ul {
    margin-top: 0;
}

.tools__list ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
}

.tools__list li {
    display: inline;
}

.tools__list li:not(:last-child)::after {
    content: ",";
}

.skills__list ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
}

.skills__list li {
    display: inline;
}

.skills__list li:not(:last-child)::after {
    content: ",";
}

@media (max-width: 900px) {
    body {
        background: white;
    }

    .CV-page {
        box-shadow: none;
        padding: 0;
        height: auto;
    }

    .info-columns {
        gap: 55px;
    }

    .download-pdf-button {
        right: auto;
    }
}

@media (max-width: 600px) {
    body {
        padding: 25px;
    }

    .name h2 {
        margin: 5px 0 0 0;
    }

    .info-columns {
        gap: 30px;
    }

    .history-colum ul {
        gap: 15px;
        margin: 10px 0 10px 0;
    }

    .experience {
        margin-bottom: 20px;
    }

}

@media (max-width: 400px) {
    body {
        padding: 20px;
    }

    .name h2 {
        margin: 0;
    }

    h5 {
        margin: 5px 0 5px 0;
    }

    .info-columns {
        gap: 25px;
    }

    .info-colum {
        gap: 15px;
    }

    .history-colum {
        gap: 15px;
    }

    .history-colum ul {
        gap: 10px;
        margin: 5px 0 5px 0;
    }

}
